body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #454545;
    font-size: 16px;
    font-weight: 400;
    margin: 2em auto;
    max-width: 620px;
    padding: 1em;
    text-align: left;
    line-height: 1.5;
}

h1 {
    display: inline;
    line-height: 1.0;
}

h2 {
    margin-top: 1.1em;
    margin-bottom: 0.7em;
}

.sub {
    color: #999;
}

.light {
    color: #CCC;
}

a {
    color: #454545;
    text-decoration-color: #222;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 1.5em;
}

.heavy {
    font-weight: 500;
}

.stick-right {
    float: right;
}

.sparcs {
    color: rgb(235, 160, 42);
}

.newara {
    color: #e15858;
}

.rond {
    color: rgb(45, 67, 211);
}

.kaistjungle {
    color: #3ea272;
}

.kraftonjungle {
    color: rgb(0, 214, 122);
}

.nmail {
    color: #eb6100
}

.kaist {
    color: #005aaa
}

.add {
    color: rgb(226, 170, 0);
}
