body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #454545;
    font-size: 16px;
    font-weight: 400;
    margin: 2em auto;
    max-width: 600px;
    padding: 1em;
    text-align: left;
    line-height: 1.4;
}

h1 {
    display: inline;
    line-height: 1.0;
}

h2 {
    margin-top: 1.1em;
}

.sub {
    color: #999;
}

.light {
    color: #BBB;
}

a {
    color: #07A;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 1.5em;
}

.heavy {
    font-weight: 500;
}

.stick-right {
    float: right;
}

.sparcs {
    color: rgb(235, 160, 42);
}

.newara {
    color: #e15858;
}

.cv-item {
    font-weight: 500;
    display: inline-block;
    margin-bottom: 0.35em;
}