<html>
    <head>

        <title>YungHee Lee</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="/static/index.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <h1>YungHee Lee </h1>
        <span class="heavy">이융희 </span>
        <hr>
        <span class="stick-right">
            <span class="heavy">Mail</span> <a href="#">me [at] yhl.ee</a>
            <span class="heavy">Github</span> <a href="https://github.com/iv-y">@iv-y</a>
            <br> &nbsp;
        </span>

        <h2>Technical skills</h2>
        <ul>
            <li>
                <span class="heavy">Programming</span> Python (Django, PyTorch), C, Arduino <br>
                <span class="heavy">Others</span> Git, AWS, GCP, Docker
            </li>
        </ul>

        <h2>Experience</h2>
        <ul>
            <li>
                <span class="heavy"><a href="https://sparcs.org" class="sparcs">SPARCS</a> @ KAIST</span>
                <i class="sub"> Mar. 2020 ~ </i> <br>
                Web back-end developer of 
                <span class="newara">NewAra</span> <i class="sub"> Aug. 2020 ~ Dec. 2021 </i> <br>
                Financial manager <i class='sub'> Jan. 2021 ~ Dec. 2021 </i>
            </li>
            <li>
                <span class="heavy"><a href="https://rond.or.kr/" class="rond">Research Officers for National Defense</a>, Cadet </span>
                <i class="sub"> Feb. 2022 ~ </i> <br>
                8<sup>th</sup>, on Electrical Engineering and Computer Science Line
            </li>
            <li>
                <span class="heavy">
                    <a href="https://swjungle.net/" class="kaistjungle">KAIST SW Academy Jungle</a> &
                    <a href="https://jungle.krafton.com/" class="kraftonjungle">KRAFTON Jungle</a> TA
                </span>
                <i class="sub"> Oct. 2022 ~ </i> <br>
                Teaching Assistant for 
                <a href="https://casys-kaist.github.io/pintos-kaist/">PintOS</a>
                operating system project at KAIST and
                <a href="https://www.krafton.com/en/csr/jungle/" class="krafton">KRAFTON</a>
            </li>
            <li>
                <span class="heavy"><a href="http://nmail.kaist.ac.kr" class="nmail">Neuro-Machine Augmented Intelligence Lab</a> @ KAIST</span>
                <i class="sub"> Jan. 2022 ~ Aug. 2022 </i> <br>
                Research intern, interested in robotic grasping and machine learning
            </li>
            <li>
                <span class="heavy"><a href="http://cs101.kaist.ac.kr">CS101</a> TA @ KAIST</span>
                <i class="sub"> Mar. 2021 ~ Feb. 2022 </i> <br>
                Teaching Assistant for KAIST CS101 &lt;Introduction to Programming&gt; course
            </li>
            <li>
                <span class="heavy"><a href="https://force.kaist.ac.kr">Particle Theory Group</a> @ KAIST</span>
                <i class="sub"> Jul. 2021 ~ Aug. 2021 </i> <br>
                Summer individual study intern, interested in EM duality and gauge theory
            </li>
            <li>
                <span class="heavy">Pointer @ KSHS</span>
                <i class="sub"> Mar. 2018 ~ Dec. 2019 </i> <br>
                Developed a web-based school seat management system
            </li>
        </ul>

        <h2>Education</h2>
        <ul>
            <li>
                <span class="heavy"><a href="https://kaist.ac.kr" class="kaist">KAIST</a></span>
                <i class="sub"> Mar. 2020 ~ </i> <br>
                Undergraduate, School of Computing
            </li>
            <li>
                <span class="heavy"><a href="https://kangwon-sh.gwe.hs.kr">KSHS</a></span>
                <i class="sub"> Mar. 2018 ~ Dec. 2019 </i> <br>
                Kangwon Science High School, Completed: Highest honors
            </li>
        </ul>

        <h2>Certificates</h2>
        <ul>
            <li>
                <span class="heavy">
                    <a href="http://www.q-net.or.kr/crf005.do?id=crf00505&gSite=Q&gId=&jmCd=0492">Computer Specialist in Spreadsheet & Database Level-1</a>
                </span> 
                <i class="sub" title="Not a typo!"> Dec. 2015 </i> <br>
            </li>
        </ul>
    </body>
</html>