<html>
    <head>

        <title>YungHee Lee</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="/static/index.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <h1>YungHee Lee </h1>
        <span class="heavy">이융희 </span>
        <i class="sub">a.k.a.&nbsp;iv_y</i>
        <hr>
        <span class="stick-right">
            <span class="heavy">Mail</span> <a href="#">me [at] yhl.ee</a>
            <span class="heavy">Github</span> <a href="https://github.com/iv-y">@iv-y</a>
            <br> &nbsp;
        </span>

        <h2>Technical skills</h2>
        <ul>
            <li>
                <span class="heavy">Programming</span> Python, Django, C, Arduino, MATLAB, Java, C# <br>
                <span class="heavy">Others</span> Git, AWS, GCP, Docker, Fusion 360
            </li>
        </ul>

        <h2>Experience</h2>
        <ul>
            <li>
                <span class="heavy"><a href="https://sparcs.org" class="sparcs">SPARCS</a> @ KAIST</span>
                <i class="sub"> Mar. 2020 ~ </i> <br>
                Secretary (Financial manager) of 2021 <br>
                Backend developer of <span class="newara">NewAra</span> since Aug. 2020
            </li>
            <li>
                <span class="heavy"><a href="http://cs101.kaist.ac.kr">CS101</a> TA @ KAIST</span>
                <i class="sub"> Mar. 2021 ~ </i> <br>
                Teaching Assistant for KAIST CS101 &lt;Introduction to Programming&gt; course
            </li>
            <li>
                <span class="heavy"><a href="https://force.kaist.ac.kr">Particle Theory Group</a> @ KAIST</span>
                <i class="sub"> Jul. 2021 ~ Aug. 2021 </i> <br>
                Summer individual study intern, interested in EM duality and gauge theory
            </li>
            <li>
                <span class="heavy">Pointer @ KSHS</span>
                <i class="sub"> Mar. 2018 ~ Dec. 2019 </i> <br>
                Developed a web-based school seat management system
            </li>
        </ul>

        <h2>Education</h2>
        <ul>
            <li>
                <span class="heavy"><a href="https://kaist.ac.kr">KAIST</a></span>
                <i class="sub"> Mar. 2020 ~ </i> <br>
                Undergraduate, School of Computing
            </li>
            <li>
                <span class="heavy"><a href="https://kangwon-sh.gwe.hs.kr">KSHS</a></span>
                <i class="sub"> Mar. 2018 ~ Dec. 2019 </i> <br>
                Kangwon Science High School, Completed: Highest honors
            </li>
        </ul>

        <h2>Certificates</h2>
        <ul>
            <li>
                <span class="heavy">
                    <a href="http://www.q-net.or.kr/crf005.do?id=crf00505&gSite=Q&gId=&jmCd=0492">Computer Specialist in Spreadsheet & Database Level-1</a>
                </span> 
                <i class="sub" title="Not a typo!"> Dec. 2015 </i> <br>
            </li>
        </ul>
    </body>
</html>